<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
>

	<aop:config>
		<aop:aspect id="log" ref="logging">
			<aop:pointcut id="selectAll" expression="execution(* com.rajesh.spring.aop.*.*(..))" />
			<aop:before pointcut-ref="selectAll" method="beforeAdvice" />
			<aop:after pointcut-ref="selectAll" method="afterAdvice" />
			<aop:after-returning pointcut-ref="selectAll" returning="retVal" method="afterReturningAdvice" />
			<aop:after-throwing pointcut-ref="selectAll" throwing="ex" method="afterThrowingAdvice" />
			<aop:around pointcut-ref="selectAll" method="aroundAdvice"/>
		</aop:aspect>
		<!-- <aop:aspect id="sec" ref="security">
			<aop:pointcut id="selectSecurity" expression="execution(* com.rajesh.spring.aop.*.*(..))" />
			<aop:before pointcut-ref="selectSecurity" method="beforeSecurity" />
			<aop:after pointcut-ref="selectSecurity" method="afterSecurity" />
			<aop:after-returning pointcut-ref="selectSecurity" returning="retVal" method="afterReturningSecurity" />
			<aop:after-throwing pointcut-ref="selectSecurity" throwing="ex" method="AfterThrowingSecurity" />
		</aop:aspect> -->
	</aop:config>

	<!-- Definition for logging aspect -->
	<bean id="logging" class="com.rajesh.spring.aop.Logging" />
	<bean id="security" class="com.rajesh.spring.aop.Security" />

	<bean id="employeConstrutor" class="com.rajesh.spring.aop.Employee">
		<constructor-arg name="fName" value="Rajesh" />
		<constructor-arg name="lName" value="Kumar" />
		<constructor-arg name="eCode" value="51560943" />
		<constructor-arg name="project" ref="project" />
		<constructor-arg name="adress" ref="address" />
	</bean>

	<bean id="project" class="com.rajesh.spring.aop.Project">
		<property name="name" value="MyProject" />
		<property name="projectId" value="1234" />
	</bean>

	<bean id="address" class="com.rajesh.spring.aop.Address">
		<property name="addressline1" value="addressline1" />
		<property name="addressline2" value="addressline2" />
		<property name="city" value="Noida" />
		<property name="country" value="India" />
	</bean>
</beans>